@using BilleterieParis2024.Models
@model List<TicketsOffers>
@{
    ViewData["Title"] = "Votre panier";
    
}

<h2>@ViewData["Title"]</h2>
<hr />
<br />

@if (Model.Count() != 0)
{
    <div class="row mt-4">
        <table id="table-cart" class="table  border ">
            <thead>
                <tr>
                    <th class="text-center" colspan="2">Offre</th>
                    <th class="text-center">Description</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>
                            <img src="~/@item.Image" width="60px" height="50px" />
                        </td>
                        <td >@item.OfferName</td>
                        <td>@item.Description</td>
                        <td>@item.Price.ToString("##0.00") €</td>
                        <td>
                            <a asp-area="Customer" asp-action="RemoveFromCart" asp-controller="Cart" asp-route-cart="true" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <h4 class="text-end">Montant total : @Model.Sum(c=>c.Price).ToString("##0.00")  €</h4>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <a asp-action="Offers" asp-controller="Home" class="btn btn-primary">Retour à la billeterie</a>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-success">Valider la commande</a>
        </div>
    </div>
}
else
{
    <div class="row mt-5 bg-muted p-5 ">
        <h3 class="text-center">Votre panier est actuellement vide</h3>
    </div>
    <div class="row mt-3">
        <div class="text-center">
            <a asp-action="Offers" asp-controller="Home" class="btn btn-primary">Retour à la billeterie</a>
        </div>
        
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}